<!-- MODELOS -->
<section class="page-section bg-light" id="modelos">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Modelos</h2>
            <h3 class="section-subheading text-muted">Dentro de la gama del Audi 80 se despliegan diversos modelos.</h3>
            <br><br>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 mb-4">
                <!-- AUDI 80 B1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#B1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/1.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Audi 80 B1</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-4">
                <!-- AUDI 80 B2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#B2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/2.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Audi 80 B2</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-4">
                <!-- AUDI 80 B3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#B3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/3.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Audi 80 B3</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
                <!-- AUDI 80 B4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#B4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/4.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Audi 80 B4</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- AUDI 80 B1 -->
<div class="portfolio-modal modal fade" id="B1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <h2 class="text-uppercase">Audi 80 B1</h2>
                            <br>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1.jpg" alt="..." />
                            <p>
                                Este modelo debutó en Europa en 1972 (con la producción a partir de mayo 1972) como el
                                Audi 80, y en
                                1973 en Australia y los Estados Unidos como el Audi Fox. Estaba disponible como sedán de
                                dos y cuatro
                                puertas, y ofrecía motores de 1.3 y 1.5 litros con potencias diversas. Ganó el premio
                                Coche Europeo del
                                Año en 1973, superando a modelos como el Renault 5.
                                <br><br>
                                En 1976, recibió una actualización con un nuevo diseño frontal y la introducción de un
                                motor de 1.6
                                litros. También se lanzó el modelo deportivo 80 GTE. La versión estadounidense, Audi
                                Fox, tuvo motores
                                de 1.5 y luego 1.6 litros.
                                <br><br>
                                El Audi 80 B1 destacó por su suspensión McPherson delantera y eje de torsión trasero. La
                                plataforma B1
                                se retiró del mercado europeo en 1978 y en América del Norte en 1979. Este modelo dejó
                                una marca
                                importante en la historia de Audi como un competidor exitoso.
                            </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- AUDI 80 B2 -->
<div class="portfolio-modal modal fade" id="B2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <h2 class="text-uppercase">Audi 80 B2</h2>
                            <br>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/2.jpg" alt="..." />
                            <p>
                                En septiembre de 1978, Audi introdujo el Audi 80 Modelo B2 en Europa, diseñado por
                                Giorgetto Giugiaro.
                                Este modelo, comercializado como Audi 4000 en América del Norte, marcó un hito con su
                                versatilidad y
                                rentabilidad al compartir componentes con otros modelos de Audi, incluyendo el Coupé,
                                Quattro y Sport
                                Quattro. El Audi 80 europeo continuó su presencia, y en 1984 se presentó una versión de
                                gama alta
                                denominada Audi 90, con opciones de motorización que incluían un turbodiésel de 1.6
                                litros y motores de
                                gasolina de cinco cilindros en línea de 2.0 y 2.2 litros.
                                <br><br>
                                En diversas regiones, como Australia, se lanzó el peculiar Audi 5+5 en 1981, un sedán de
                                cuatro puertas
                                con un motor de cinco cilindros de 2.144 cc, sirviendo como precursor del posterior Audi
                                90. El Reino
                                Unido vio la llegada del Sport 80 en 1983, basado en el GTE, con elementos deportivos
                                como alerones y
                                gráficos "Audi Sport". Además, se produjo una edición especial, el 4000 CS quattro,
                                entre 1985 y 1987.
                                En 1984, el modelo B2 experimentó una actualización sutil con cambios en las luces
                                traseras, parachoques
                                y faros, y se introdujeron motores con convertidores catalíticos en Europa.
                                <br><br>
                                La plataforma B2 demostró ser un éxito para Audi, consolidando su posición en el mercado
                                y reforzando la
                                imagen de la marca. Los sedanes continuaron hasta 1986 en Europa y 1987 en otros
                                mercados, mientras que
                                el Coupé basado en el B2 persistió hasta 1988. En América del Norte, el Audi 4000
                                ofreció motores de 1.8
                                y 2.2 litros, destacando el quattro CS con tracción integral y un motor de 2.2 litros.
                                Este periodo fue
                                fundamental para Audi, estableciendo bases sólidas y contribuyendo al reconocimiento
                                público,
                                especialmente gracias al éxito de la tracción quattro en diversas formas de competición.
                            </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- AUDI 80 B3 -->
<div class="portfolio-modal modal fade" id="B3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <h2 class="text-uppercase">Audi 80 B3</h2>
                            <br>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/3.jpg" alt="..." />
                            <p>
                                En 1981, Audi inició el proyecto para la creación de una nueva generación de vehículos,
                                marcando el
                                comienzo del desarrollo del modelo B3. El proceso avanzó con la presentación de croquis
                                y bocetos en
                                1982, seguido por la maqueta B12 en 1983 y el primer prototipo, llamado 80 CW prototipo
                                studio, en 1984.
                                En otoño de 1986, Audi AG lanzó oficialmente la tercera generación del Audi 80, conocida
                                internamente
                                como B3. Al igual que su predecesor, el Audi 80 B3 presentaba una carrocería totalmente
                                galvanizada con
                                una garantía anticorrosión de diez años y un destacado coeficiente aerodinámico de 0,29.
                                <br><br>
                                En términos de motorización, la tercera generación del Audi 80 B3 contaba con opciones
                                que incluían un
                                motor de gasolina de 1.8 litros en versiones carburador o inyección mecánica, con
                                potencias de 90 CV y
                                112 CV. Además, se introdujo un motor diésel de 1.6 litros con una potencia de 82 CV. La
                                denominación
                                Audi 90 se reservó para las versiones de 5 cilindros con la misma carrocería. En mayo de
                                1987, se lanzó
                                el Audi 90 B3, caracterizado por modificaciones en el extremo delantero, paragolpes del
                                color de la
                                carrocería y mejoras en el diseño exterior.
                                <br><br>
                                En cuanto a seguridad, estos nuevos modelos incorporaron el sistema procon-ten de
                                seguridad pasiva,
                                previamente instalado en el Audi 100, que protegía al conductor y al pasajero delantero
                                mediante la
                                retracción del volante y el tensado del cinturón de seguridad. Este sistema se considera
                                un precursor de
                                los pretensores pirotécnicos utilizados en la actualidad. Aunque Audi fue uno de los
                                últimos fabricantes
                                alemanes en incorporar airbags de serie en sus automóviles, el sistema procon-ten
                                demostró su eficacia,
                                y la retirada del volante hacia el salpicadero se convirtió en una mejora adoptada por
                                todas las marcas
                                para prevenir lesiones durante accidentes de tráfico severos.
                            </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- AUDI 80 B4 -->
<div class="portfolio-modal modal fade" id="B4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Audi 80 B4</h2>
                            <br>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/4.jpg" alt="..." />
                            <p>

                                En 1991, el modelo B3 experimentó una significativa renovación y pasó a ser conocido
                                internamente como
                                el B4 (o 8C). Las mejoras incluyeron una mayor distancia entre ejes, un rediseño del
                                tanque de
                                combustible y el eje trasero para permitir asientos traseros plegables, ruedas de
                                carretera de 15",
                                parachoques trasero y delantero rediseñados, y una parrilla delantera fusionada con el
                                capó para un
                                aspecto más audaz. Este cambio marcó la incursión de Audi en el segmento de vehículos de
                                lujo de tamaño
                                mediano, compitiendo con Mercedes-Benz y BMW. En Europa, el nombre 90 fue descontinuado,
                                y todas las
                                berlinas se rebautizaron como 80, mientras que en Estados Unidos la berlina se vendió
                                como "90", con un
                                enfoque en el lujo, ofreciendo características como transmisión automática, control de
                                crucero, aire
                                acondicionado y asientos de cuero de serie.
                                <br><br>
                                El B4 para el mercado estadounidense presentó adaptaciones debido a regulaciones de
                                seguridad del
                                Departamento de Transporte de Estados Unidos, que incluyeron rediseño de faros y
                                parachoques delantero
                                para acomodar amortiguadores de choque. En Europa, el B4 tuvo varias variantes, como
                                Avant, Coupe,
                                Cabriolet y Berlina. La gama de motorizaciones incluyó motores en línea de cuatro
                                cilindros, motores de
                                cinco cilindros y nuevos motores V6 (2.6 y 2.8). También se introdujo por primera vez un
                                motor diésel de
                                inyección directa y turbo, el 1.9 TDI de 90 CV.
                                <br><br>
                                En 1994, se lanzó la edición limitada Europa en el mercado europeo, disponible como
                                berlina o Avant.
                                Ofrecía espejos eléctricos, llantas de aleación, reposacabezas traseros, airbag en el
                                volante y opciones
                                como techo solar eléctrico o aire acondicionado. Mientras tanto, las versiones
                                "normales" B4 y Avant
                                mejoraron su equipamiento estándar, incluyendo airbags y opciones como airbag de
                                pasajero e
                                inmovilizador del motor.
                                <br><br>
                                La familia Audi 80 fue reemplazada por el nuevo Audi A4 en 1996. La producción del sedán
                                B4 cesó a
                                principios de 1995, mientras que el Avant y el Coupé lo hicieron en 1995-1996. El
                                Cabriolet continuó
                                hasta el año 2000. Además, se lanzaron versiones deportivas, como el S2 y el RS2 Avant,
                                este último
                                desarrollado junto a Porsche. El RS2 Avant, producido entre 1994 y 1995, se destacó como
                                el primer
                                modelo de la línea "RS" de Audi y se convirtió en un vehículo de culto gracias a su
                                colaboración con
                                Porsche y sus altas prestaciones. La colaboración entre Audi y Porsche se reflejó en
                                detalles como las
                                llantas Porsche Cup, retrovisores del Porsche 911 y pinzas de freno Brembo con el logo
                                Porsche.
                            </p>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>