<section class="page-section" id="historia">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Historia</h2>
            <h3 class="section-subheading text-muted">Breve historia del vehículo.</h3>
            <br><br>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg"
                        alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-body">
                        <br>
                        <p class="text-muted">La primera vez que se utiliza la denominación Audi 80 fue como variante
                            del modelo Audi F103 en 1967, que contaba con otras series como el 60, 75 y Super-90. Con el
                            tiempo, la
                            denominación Audi 80 evolucionó y se convirtió en una línea de modelos independiente.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg"
                        alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-body">
                        <p class="text-muted">En el verano de 1972, el ingeniero jefe de Audi, Ludwig Kraus, presentó el
                            «Audi 80»,
                            que continuaba la política de modelos iniciada con el Audi 100. A medida que la
                            marca Audi continuó desarrollando y expandiendo su gama de vehículos, el Audi 80 se
                            convirtió en un modelo
                            clave en la historia de la marca y se produjo en varias generaciones con mejoras y
                            actualizaciones a lo
                            largo de los años.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg"
                        alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-body">
                        <p class="text-muted">Este automóvil incorporaba un motor
                            tetracilíndrico con árbol de levas en cabeza, que posteriormente adoptó también el Grupo
                            Volkswagen, para
                            llegar a convertirse finalmente en el motor con mayor volumen de producción Volkswagen.
                            Desde su inicio en
                            producción en un periodo de seis años, en su primera etapa Audi fabricaría y vendió más de
                            un millón de
                            ejemplares de este modelo.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg"
                        alt="..." />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-body">
                        <p class="text-muted">Fue nombrado como Coche del Año en Europa en 1973 y en 1987 y tuvo
                            versiones cupé,
                            descapotable y sedán, donde además en esta última había versiones con tracción a las cuatro
                            ruedas.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<hr>