<!-- Inicio-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Vehículos clásicos</div>
        <div class="masthead-heading text-uppercase">Audi 80</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#vehiculo">Vehículo</a>
    </div>
</header>
<!-- Descripción-->
<section class="page-section" id="vehiculo">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Vehículo</h2>
            <br><br>
            <h3 class="section-subheading text-muted">El Audi 80 fue un automóvil producido por el
                fabricante alemán desde 1972 hasta 1996. Inicialmente compartía similitudes con el Volkswagen Passat y
                estaba disponible con carrocerías sedán y familiar. También contó con versiones con carrocerías más
                deportivas,
                como cupé o descapotable, que compartían la misma plataforma.
                <br><br><br><br>
                Existen diferentes tipos de motores, entre ellos de gasolina con inyección de combustible («E»;
                Einspritzung),
                con carburador («S») y diésel («TD» o «TDI»).
                <br><br><br><br>
                En América del Norte, el 80 se vendió con el nombre «Audi Fox» y desde 1978 en adelante con el nombre
                «Audi
                4000».
            </h3>
        </div>
    </div>
</section>